.DS_Store
node_modules/*
src/node_modules/*
#/src/node_modules/@sapper/
yarn-error.log
/cypress/screenshots/
/__sapper__/
/.sessions/

# IDE
#.idea/*
.vscode/*

*.zip
*.tar.gz
*.tar
*.rar
*.log
*.sql
